.topbar {
  display: flex;
  align-items: center;
  height: 64px;
  padding: 0 24px;
  background-color: var(--bg-color);
  flex-shrink: 0;
}

.topbar-logo-container {
  display: flex;
  align-items: center;
}

.topbar-title {
  font-family: 'Playwrite NO Variable', sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  margin: 0;
  color: var(--text-color);
}
